*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.all h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #0B9192;
    font-size: 33px;
}