*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.comp{
    display: flex;
    flex-direction: column;
}

.lbl{
    color: #D27835;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 22px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.inp{
    background-color: #EBBB99;
    height: 5vh;
    width: 15vw;
    border-radius: 40px;
    padding: 5px;
    padding-left: 7px;
    border: 2px #EBBB99 solid;
    color:#D27835;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.inp:focus{
    border: 2px #D27835 solid;
    box-shadow: 0 0 5px rgba(210, 120, 53, 0.5);
    outline: none;
}
