.button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 7vh;
  width: 7vw;
}

.text {
  color: #F5F5F5;
  font-weight: bold;
}

.blue {
  background-color: #0B9192;
}

.blue:hover{
    transition: 0.9ms;
    background-color: #D27835;
}

.red {
  background-color: #B02432;
}

.red:hover{

    transition: 0.9ms;
    background-color: #D27835;
}
